<h1>The place to be ! </h1>

<div
  id="map"
  style="width: 100%;
  height: 200px;"
  data-marker='<%= raw @event.chosen_place.coordinates.to_json %>'
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
></div>


<div class="card">
  <div class="card-body">

    <h5 class="card-title">Choix final</h5>
    <h6 class="card-subtitle mb-2 text-muted"><%= @event.chosen_place.name %></h6>

      <div class="row">
         <p class="card-text" ><%= @event.chosen_place.address %></p>
      </div>

      <div class="row">
       <p class="card-text" >05 55 55 55 55</p>
      </div>

      <div class="row">
        <p class="card-text" >Tu devras partir à 20h15 </p>
      </div>

  </div>
</div>
