<div class="card" style="width: 18rem;">
  <div class="card-body">

    <h5 class="card-title">Choix final</h5>
    <h6 class="card-subtitle mb-2 text-muted">Nom du restaurant</h6>

      <div class="row">
         <p class="card-text" >107 cours balguerie stuttenberg</p>
      </div>

      <div class="row">
       <p class="card-text" >05 55 55 55 55</p>
      </div>

      <div class="row">
        <p class="card-text" >Tu devras partir à 20h15 </p>
      </div>

  </div>
</div>
