<div class="wrapper">
     <%= inline_svg "logo-white.svg", class: "logo-white" %>
</div>
  <h2> Hello !</h2>
    <p> Tous vos events que vous créer ou auxquels vous participez apparaîtront ici </p>

  <div class="home-buttons">
    <div class="btn btn-primary btnhome">Create event</div>
  </div>


