<div class="wrapper">
     <%= image_tag "logo.png" %>
</div>


  <div class="home-buttons">
  <div class="btn btn-primary btnhome">Create event</div>

  <div class="btn btn-primary btnhome">My events</div>
  </div>


