/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  margin: 0;
  text-align: center;
  color: white;
  transform: translateY(10px);
  transition: transform ease 300ms;
  z-index: 8;
}
.alert-info {
  background: $green;
}
.alert-warning {
  background: $red;
}

.alert-hidden {
  transform: translateY(-200px);
  transition: transform ease 300ms;
}
