.card-body {
  width: 375px;
  height: 196px;
  //background-color: green;
  display: block;
  border-radius: 2px;
}

.card-title{
  font-family: Muli;
}

.card-subtitle {
  font-family: Muli;
}

p {
  margin: 13px;
  display:block;
  width: 375px;
  height: 10px;
  inline-block: 12px;
  line-height:10px;
  font-family: Monserrat;
}
