.form-title {
  padding: 0;
  padding-bottom: 15px;
}

.geoloc-submit {
  margin-top: 15px;
}

.address-group {
  height: 34px;
  .address-input {
    font-size: 13px;
  }
  #geoloc {
    display: flex;
    align-items: center;
  }
  .ap-icon-pin {
    svg {
      fill: white;
      height: 0px;
      width: 0px;
    }
  }
  .ap-input-icon {
    svg {
      fill: white;
      height: 0px;
      width: 0px;
    }
  }
}
