.wrapper {
  background: #269F00;
  width: 100vw;
  display: flex;
  align-items: center;
  height: 60vh;
  justify-content: center;
  background-size: cover;
  border-radius: 2px;
  background: linear-gradient(26.68deg, #289F00 20.45%, #96DC22 100%)
}

.event-slate{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f1fced;
}


.logo-white {
  position: absolute;
  display: block;
  margin: 0 auto;
  fill: #3498db;
  width: 15em;
  height: 7em;
  z-index: 1;
}

.logohome {
  width: 100vw;
  margin: auto;
}

.glass{
  position: absolute;
  left: 0.29%;
  right: 90.46%;
  top: 4.76%;
  bottom: 0%;
}

h2 {
  margin-top: 15px;
  justify-content: center;
}

p {
  justify-content: center;
}
