.fixed-height {
  height: 100vh;
}

.home-banner {
  background: no-repeat image_url('background-homepage.svg');
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40vh;
  flex-shrink: 0;
  .titles {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.4);
    h1 {
      margin: 10px;
      padding: 0;
      color: white;
      font-family: $logo-font;
      font-style: bold;
      font-size: 34px;
    }
    h6 {
      padding: 0;
      color: white;
    }
  }
}

.welcome-message {
  h4 {
    margin: 0;
  }
  hr {
    margin: 5px;
    margin-bottom: 15px;
  }
  p {
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 13px;
    text-align: left;
  }
  ul {
    text-align: left;
    margin: 0px;
    margin-bottom: 10px;
    font-size: 11px;
  }
}

.main-title-event {
  padding-left: 20px;
}

.container-create-event {
  padding: 0 15px;
  overflow-y:auto;
  flex-grow: 1;
  padding-bottom: 68px;
}

.svg-icon {
  height: 24px;
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.event-slat {
  display: flex;
  align-items: center;
  position: relative;
  padding: 10px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  h6 {
    margin: 0px;
    padding-top: 2px;
    font-size: 10px;
  }
}

.slat-link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.title-event {
  align-items: center;
  h5 {
    font-size: 12px;
    padding-left: 15px;
    margin-bottom: -0.5px;
  }
}

.logo-white {
  position: absolute;
  display: block;
  margin: 0 auto;
  fill: #3498db;
  width: 15em;
  height: 7em;
  z-index: 1;
}

.glass {
  position: absolute;
  left: 0.29%;
  right: 90.46%;
  top: 4.76%;
  bottom: 0%;
}
