.wrapper {
  background: #269F00;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40vh;
  background: linear-gradient(26.68deg, #289F00 20.45%, #96DC22 100%)
}

.container-create-event {
  padding: 0 15px;
  overflow-y:auto;
}

.event-slat {
  display: flex;
  align-items: center;
  position: relative;
}

.slat-link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.title-event {
  align-items: center;
  h5 {
    font-size: 12px;
    padding-left: 15px;
    margin-bottom: -0.5px;
  }
}

.logo-white {
  position: absolute;
  display: block;
  margin: 0 auto;
  fill: #3498db;
  width: 15em;
  height: 7em;
  z-index: 1;
}

.punchline {
  justify-content: center;
  position: relative;
}

.glass {
  position: absolute;
  left: 0.29%;
  right: 90.46%;
  top: 4.76%;
  bottom: 0%;
}
