.wrapper {
  width: 95vw;
  margin: auto;
}

.lath {
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 0px 10px lightgrey;
  margin: 10px;
  height: 65px;
  background-color: white;
}
