.avatar {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
}

.lath-content {
  width: 60%;
  padding: 5px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  h2 {
    font-size: 16px;
    font-family: Muli;
    padding: 0px;
    margin: 0px;
   }

  p {
    font-size: 12px;
    font-family: Montserrat;
    margin: 0px;
  }
}

.lath-button-part {
  width: 20%;
  .icon {
    border-radius: 0 5px 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: white;
    font-family: Muli;
    color: #269F00;
    border: none;
    border-left: 2px solid rgba(38, 159, 0, 0.7);
  }
}
