.participant {
  display: flex;
  justify-content: space-between;
  align-items: center;
  p {
    font-size: 9px;
    margin: 0;
    width: 230px;
    height: 13px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .name-address {
    display: flex;
    align-items: center;
  }
}

.boarding-time {
  margin-bottom: 18px;
}

.title-separator {
  width: 100vw;
  background-color: #EEE;
  color: #7A7A7A;
  padding: 2px 0 2px 15px;
  font-size: 14px;
}

.container-participant {
  padding: 0 15px;
}

hr {
  border: 0.5px solid #E2E2E2;
}

.panel-bottom {
  position: fixed;
  padding: 15px;
  width: 100vw;
  bottom: 0;
  left: 0px;
  background: white;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.05), 0px 0px 10px rgba(0, 0, 0, 0.1);
  transition: transform 300ms ease;
  &.panel-hidden {
    transform: translateY(100%);
  }
}

.geoloc-submit{
  margin-top: 10px;
  font-size: 12px;
  height: 44px;
}

#boarding-3 {
  p {
    font-size: 14px;
    color: #898989;
    margin: 0;
  }
  h1 {
    margin: 0;
    padding: 5px 0 20px 0;
  }
}

