.result-title {
  margin-bottom: 15px;
}

.result-subtitle {
  background: #EEEEEE;
  padding-top: 3px;
  padding-bottom: 3px;
}
.result ul{
  padding-left: 15px;
}

.result li{
  font-size: 14px;
  list-style: none;
}
.result-icon {
  display: block;
  margin: 0 auto;
  width: 1em;
  height: 1em;
}

