.lath-content {
  width: 60%;
  padding: 5px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  h2 {
    font-size: 16px;
    font-family: Muli;
    padding: 0px;
    margin: 0px;
   }

  p {
    font-size: 12px;
    font-family: Montserrat;
    margin: 0px;
  }
}

.lath-rating {
  display: flex;
  align-items: center;
  color: #269F00;
}

.rating-icon {
  width: 16px;
  height: 16px;
}

.lath-button {
  width: 20%;
  .btn {
    border-radius: 0 5px 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: white;
    font-family: Muli;
    color: #269F00;
    border: none;
    border-left: 2px solid rgba(38, 159, 0, 0.7);
  }

  .btn:hover {
    background: #269F00;
    color: white;
  }
}
