// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";

// Your CSS partials
@import "layouts/index";
@import "components/index";
@import "pages/index";

h1{
  font-size: 22px;
}
h4,h5{
  font-size: 17px;
}

body {
  font-size: 12px;
}
