<div class="alert alert-success alert-dismissible fade show alert-hidden" role="alert">
  <strong>Thank you for chosing!</strong> Please, wait for your friends to make their choices in order to discover the meeting place.
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
